*.png
*.h5
*.pdf
*.mp4
*.txt
*.dat

Figures/
New_version/
Output_Old/
Ashim_files/

HiCOLACuGal_plot_fromscratch.ipynb
Testing_tracker_today.ipynb
Testing-f_phi_paramspace.ipynb
Today-Form-HiCOLACuGal_plot_fromscratch.ipynb

cosmo_as_design
cosmo_newdesign_reduced

